@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme("colors.gray.800");
  line-height: normal;
}

@layer base {
  h1 {
    font-size: theme("fontSize.5xl");
    margin-top: theme("spacing.44");
    line-height: 1.1;
    white-space: pre-wrap;
    @apply md:text-8xl md:leading-[112.5%];
  }
}
